<h1>Create a new post</h1>
<%= simple_form_for @post, :url =>admin_category_posts_path do |f| %>
<%= f.input :name %>
<%= f.input :review %>
<%= f.input :rating %>
<%= f.submit 'Create', :class => 'btn btn-primary' %>
<% end %>
